<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2> </h2>
<ul>
  <li>
    <h2><a routerLink="/multiplefileupload">Multiple File Upload</a></h2>
    Example to show how to upload multiple files individually, preview them on upload and on submit send all the files to server.
  </li>
  <li>
    <h2><a routerLink="/componentfactory">Component Factory.</a></h2>
    Example to show how create a component factory, and generate component template inside another.
  </li>

</ul>
